# Copyright (c) 2026 Paulo Santos (@wkhadgar)
# SPDX-License-Identifier: Apache-2.0
#
# Application Kconfig entry point. Browse with `west build -t menuconfig`.

menu "Zephyr"
source "Kconfig.zephyr"
endmenu
